<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LastProject" value=""/>
    <add key="WinMergePath" value="C:\Program Files (x86)\WinMerge\winmergeU.exe"/>
    <add key="RegistryPath" value="Software\CygSoft\FileSync"/>
    <add key="ProjectExtension" value="syncproj"/>
    
    <!-- 
        BackupBeforeLeft - Backup will occur when target files (actual work source files) are copied across to current working files)
        BackupBeforeRight - Backup will occur when the working files are copied across to their respective target files.
    -->
    <add key="ProjectBackupFolder" value="__syncbackup__"/>
    <add key="BackupBeforeLeft" value="true"/>
    <add key="BackupBeforeRight" value="true"/>
    <add key="BackupBeforeProjectEdit" value="true"/>
    <add key="BackupFolderLimit" value="2"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
